@charset "UTF-8";

/* .custom-ui-autocomplete {
	width: 80% !important;
	box-shadow: none;
	background: aqua;
}

.custom-ui-autocomplete li a.ui-state-hover {
	background: #0c254c !important;
	color: fuchsia !important;
}

.ui-autocomplete {
	width: 40% !important;
	box-shadow: none;
} */